<% provide(:title, 'Home') %>

<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="snapshot_form">
                <%= render 'shared/snapshot_form' %>
            </section>
        </aside>
        <div class="col-md-8">
            <h3>Snapshot Feed</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>

<div class="center jumbotron">
    <h1>Welcome to Koris Orbit</h1>
    <h2>
        This is the home page of koris orbit application. You can find the code for this application at
        <a href="https://github.com/kkreine/orbit001">My Github account</a>
    </h2>

    <%= link_to "Create an account", signup_path, class: "btn-lg btn-primary" %>
</div>

<% end %>